* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
/* Primary */
--Soft-orange: hsl(35, 77%, 62%);
--Soft-red: hsl(5, 85%, 63%);

/* Neutral */
--Off-white: hsl(36, 100%, 99%);
--Grayish-blue: hsl(233, 8%, 79%);
--Dark-grayish-blue: hsl(236, 13%, 42%);
--Very-dark-blue: hsl(240, 100%, 5%);
}

body {
    font-family: 'inter', sans-serif;
}

.container {
    height: 100vh;
    max-width: 1440px;
    padding: 5rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.logo img {
    width: 48px;
}

.burger-menu {
    display: none;
}

ul {
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--Dark-grayish-blue);
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--Very-dark-blue);
}

.article h2 {
    font-size: 2rem;
    color: var(--Soft-orange);
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: .5rem;
}

h4 {
    font-weight: 800;
    padding-bottom: .5rem;
}

hr {
    margin: 2rem 0 2rem 0;
}

p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5rem;
}

button {
    width: 190px;
    height: 50px;
    background-color: var(--Soft-red);
    font-size: 18px;
    font-weight: 600;
    color: var(--Very-dark-blue);
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

.item1 { 
    grid-area: cover;
}

.item1 img {
    width: 60%;
}

.item2 {
    grid-area: topic;
}

.item3 {
    grid-area: description;
}

.item4 {
    padding: 1rem;
    grid-area: new;
    background-color: var(--Very-dark-blue);
    color: #fff;
}

.article {
    display: grid;
    grid-template-areas:
    "cover cover new"
    "topic description new";
    gap: 1rem;
}

.community {
    border: 1px solid var(--Grayish-blue);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.community .box {
    display: flex;
}

.community .box img {
    height: 120px;
}

.community .box h2 {
    font-size: 2rem;
    color: var(--Soft-red);
}

.community .box .box-text {
    padding-left: 1.5rem;
}

@media (max-width: 375px) {

    .container {
        padding: 1rem;
    }

    .burger-menu {
    display: block;
}

    .article {
        grid-template-areas:
        "cover"
        "topic"
        "description"
        "new";
    }

    ul {
        display: none;   
    }

    .item1 img {
        width: 100%;
    }

    .community {
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}